<div class="container mx-auto">
  <app-nav></app-nav>
  <app-search></app-search>
  <main>
<!--
    here we add the <app-movies-list/> component with his @Input() movies property
     the [movies] property will be assigned to the movies[] and therefor will be accessible in the app-movies-list component
  -->
   <app-carousel title="Populair">
     <app-movies-list [movies]="movies" (showDetailMovie)="onMovieSelected($event)" (selectedFilter)="selectedFilter($event)"></app-movies-list>
   </app-carousel>
  </main>
  <dialog class="absolute border-none rounded-md drop-shadow-lg p-0
    top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
    w-90
    right-0 md:max-w-screen-md h-full lg:h-min" #dialogElement>
    <button class="rounded-full bg-gray-800 text-white absolute -right-2 -top-2 p-2 border-none" (click)="closeDialog()">Close x </button>
    <app-movie-detail [movie]="movie"></app-movie-detail>
  </dialog>
</div>
